body {
	width: 100%;
	margin: 0 auto;
  background-color: #000000;
}
#wrapper #banner {
	background-color: #333;
/*	height: 220px;*/
}
.bxslider li img{
	width: 100%;
	max-width: 100%;
}
img{
	width: 100%;
	max-width: 100%;
	display: block;/*讓img後沒有2px空白*/
}
.container{
	display: flex;
	align-items:center;
  justify-content:center;
}

.flexbox-left{
  width: 50%;
}
.flexbox-right{
  width: 50%;
}


#wrapper#footer{
	clear: both;
}